*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container {
        
    padding-top: 55px;
    box-sizing: border-box;
    width: 360px;
    height: 640px;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.btnStart {

    position: relative;
    width: 85%;
    top: -47%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    font-family: inherit;
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    border-radius: 40px;
    border: none;
    background-color: #06D1C5;
    cursor: pointer;
    transition-duration: 0.4s;

}

.btnStart:hover {
    background-color: #8df6f0;
    border-color: #8df6f0;
    color: #ffffff
}


.btnCustomize {
   height: 50px;
  
   width: 55%;
   background-color: #038a81;
   border: none;
   padding: 5px 5px 5px 5px;
   border-radius: 40px;
   margin: 0 auto;
   position: relative;
   top: -40%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-stretch: condensed;
   text-align: center;
   font-size: 16px;
   margin: 4px 4px 4px;
   cursor: pointer;
   transition-duration: 0.4s; 
}

.btnCustomize:hover {
   background-color: #8df6f0;
   border: none;
   color: #ffffff;
}

.btnExit{
   height: 50px;
   width: 55%;
   background-color:#038a81;
   border: none;
   padding: 10px;
   border-radius: 40px;
   position: relative;
   top: -40%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-stretch: condensed;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition-duration: 0.4s; 

}
.btnExit:hover{
background-color: #8df6f0;
border: none;
   color: #ffffff;
}


.colorsBtn{
   border-radius: 50%;
   border:none;
   height: 100px;
   width: 100px;
   background-color: #06D1C5;
   color:black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   font-stretch: condensed;
   font-size: 24px;
   position: relative;
   top: -80%;
   left: 59%;
   transform: translate(-50%, -50%);

}

.colorsBtn:hover{
    background-color: #31f7ed;
    border: none;
    color: #ffffff;

}

.clothesBtn{
    
    border-radius: 50%;
    border:none;
    height: 100px;
    width: 100px;
    background-color: #06D1C5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 24px;
    position: relative;
    top: -30%;
    left: 30%;
    transform: translate(-50%, -50%);
}

 .clothesBtn:hover {
    background-color: #31f7ed;
    border: none;
    color: #ffffff;

 }

 .btnBack {
    border-radius: 50%;
    border:none;
    height: 50px;
    width: 50px;
    background-color: #06D1C5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 16px;
    position: relative;
    bottom: 109%;
    right: 48%;
    transform: translate(-50%, -50%)
 }

 .btnBack:hover {
    background-color: #31f7ed;
    border: none;
    color: #ffffff;
 }

 .btnBackColors {
    border-radius: 50%;
    border:none;
    height: 50px;
    width: 50px;
    background-color: #06D1C5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 16px;
    position: relative;
    bottom: 104%;
    right: 50%;
    transform: translate(-50%, -50%)
 }

 .btnBackColors:hover {
    background-color: #31f7ed;
    border: none;
    color: #ffffff;
 }



 .btnBackClothes {
    border-radius: 50%;
    border:none;
    height: 50px;
    width: 50px;
    background-color: #06D1C5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 16px;
    position: relative;
    bottom: 104%;
    right: 50%;
    transform: translate(-50%, -50%)
 }

 .btnBackClothes:hover {
    
    background-color: #31f7ed;
    border: none;
    color: #ffffff;
 }

.coins{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 88%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.coins:hover {
    background-color: #FAEE88;
    border: none;
    color: black;

}

.coins2{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 64%;
    left: 35%;
    transform: translate(-50%, -50%)
}

.coins2:hover {
    background-color: #FAEE88;
    border: none;
    color: black;

}


.coins3{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 40%;
    left: 20%;
    transform: translate(-50%, -50%)
}

.coins3:hover {
    background-color: #FAEE88;
    border: none;
    color: black;

}

.coins4{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 15%;
    left: 5%;
    transform: translate(-50%, -50%)
}

.coins4:hover {
    background-color: #FAEE88;
    border: none;
    color: black;

}

.usecowboy{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 87%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.usecowboy:hover{
    background-color: #FAEE88;
    border: none;
    color: black;
}

.useninja{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 63%;
    left: 35%;
    transform: translate(-50%, -50%)
}

.useninja:hover{
    background-color: #FAEE88;
    border: none;
    color: black;
}

.usecap{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 39%;
    left: 20%;
    transform: translate(-50%, -50%)
}

.usecap:hover{
    background-color: #FAEE88;
    border: none;
    color: black;
}

.usehood{
    border-radius: 40px;
    height: 20px;
    width: 50px;
    border: none;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 14px;
    position: relative;
    bottom: 14%;
    left: 5%;
    transform: translate(-50%, -50%)
}

.usehood:hover{
    background-color: #FAEE88;
    border: none;
    color: black;
}

.btnBackMenu {
    border-radius: 40px;
    border:none;
    height: 45px;
    width: 65%;
    background-color: #038a81;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 20px;
    position: relative;
    bottom: 42%;
    left: 49%;
    transform: translate(-50%, -50%)
}

.btnBackMenu:hover{
    background-color: #06D1C5;
    border: none;
    color: #ffffff;
}

.continue {
    border-radius: 40px;
    border:none;
    height: 50px;
    width: 80%;
    background-color: #06D1C5;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-stretch: condensed;
    font-size: 20px;
    position: relative;
    bottom: 60%;
    left: 49%;
    transform: translate(-50%, -50%)
}

.continue:hover{
    background-color: #31f7ed;
    border: none;
    color: #ffffff;
}


